---
name: ".env.example"
type: "file"
file: "build-sycl-2025/tools/ui/ui-src/.env.example"
community: "build-sycl-2025"
---

# .env.example

**Type:** `file`  **File:** `build-sycl-2025/tools/ui/ui-src/.env.example`

**Community:** [[communities/build-sycl-2025]]
